<!DOCTYPE html>
<html>
    <head>
        <title>Hex-Digit</title>
            <style>
                div{
                position: absolute;
                text-align: left;                
            } 
            </style>
    </head>
    <body>
        <div>
            <h1>Upload the CSV file</h1>
                <form method="POST" action="decode" enctype="multipart/form-data">
                <p><input type="file" name="filename"></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        </div> 
        
    </body>
</html>