<!DOCTYPE html>
<html>
  <head>
    <title>Hex Decode</title>
    <style>
       .container_2{
        
        position: absolute;
        text-align: right;      
          
      } 
      .container{
        text-align:left;
      }
     
    </style>
  </head>
<body>

  <div class = "container">
    <h1>Input Text Fields</h1>
    <form method="POST">  
    
      <input name="text"><br><br>
      <input type="submit"> 
    
    </form>
  </div>

  <div class="container_2">
    <form method="post">
        <input type="submit" value="DECODE" >
    </form>
 </div>

<!-- <div>
  <h1>Upload the CSV file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="filename"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
</div> -->

</body>
</div>
</html>