@charset "UTF-8";

.alignment{
    display: flex;
    justify-content: center;
}

#topRightFixed {
    position: fixed;
    top: 0;
    right: 0;
    background: #336600;
    padding: 6px;
    color: #fff;
    font-size: 1.4em;
 }