<!DOCTYPE html>
<html>
  <head>
    <title>Hex Decode</title>
    <style>
      .container{
        text-align:left;
      }
     
    </style>
  </head>
<body>

  <div class = "container">
    <h1>Input Text Fields</h1>
    <form method="POST" , action="/get_data">  
    
      <input name="data"><br><br>
      <input type="submit"> 
    
    </form>
  </div>
  <br>
  <div>
    <form action = "/get_file">
      <button>
          DECODE
      </button>
  </form>

  </div>

 
</body>
</div>
</html>